body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: red;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

